<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="main-content">

	{{>header}}
	<img class="portrait" src="/img/Sunrise.jpeg" alt="Sunrise">
</div>
<br>
{{>footer}}
</body>
</html>